<h2>Here are all your recipes</h2>
<ul>
  <% @recipes.each_with_index do |e, i| %>
    <li>
      <% e.mark ? m = "v" : m = "x" %>
      <h3>
        <a href="/mark/<%= i %>">[<%= m %>]</a>
        <%= " #{e.name}#{' ☆' * e.rating.to_i}#{"   ---#{e.time}---"}" %>
        <a href="/destroy/<%= i %>">delete</a>
      </h3>
      <p><%= e.description %></p>
    </li>
  <% end %>
</ul>
<a href="/new">Add recipe</a>
<form action="/fetch" method="post">
  <input type="text" name="ingredient" placeholder="ingredient">
</form>
